<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head data-th-fragment="header">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>个人财务管理系统</title>

    <link rel='stylesheet prefetch' href="../static/maincss/bootstrap.min.css">
    <link rel='stylesheet prefetch' href='../static/maincss/fontawesome.min.css'>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap-table.css}">
    <!-- <link rel="stylesheet" href="maincss/style.css"> -->
    <link rel="stylesheet" href="../static/maincss/sidebarmenu.css" media="screen and (min-width: 320px) and (max-width:799px)">
    <link rel="stylesheet" href="../static/maincss/pcsidebarmenu.css" media="screen and (min-width: 800px)">
    <!-- 平滑弹出侧边栏 -->
    <link rel="stylesheet" th:href="@{/static/maincss/custom.css}" media="screen and (min-width: 320px) and (max-width:799px)">
    <link rel="stylesheet" href="../static/maincss/bootstrapdatetimepicker.min.css">
</head>
