<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<!-- 用户界面缩放 -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
	<link rel="stylesheet" th:href="@{static/bootstrap/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{static/bootstrap/css/bootstrap-theme.css}" >
	<meta http-equiv="keywords" content="个人财务管理,记账系统,财务管理">

	<script type="text/javascript" th:src="@{static/js/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{static/bootstrap/js/bootstrap.min.js}"></script>

	<!----><!----><!----><!----><!----><!----><!----><!----><!---->

	<!-- 自己定义的样式 -->
	<link rel="stylesheet" type="text/css" th:href="@{static/css/my.css}">
	<title>登录页面</title>

</head>
<body>

<div class="container">
	<div class="row">
		<!-- 看看有什么好的logo可以加，或者不加 -->
		<!-- <img src="img/logo.jpg" class="img" > -->
		<div class="col-md-4 col-md-offset-4 ">
			<div class="main">
				<h3>个人财务管理系统</h3>
				<form class="form-horizontal" id = "form-main" onsubmit="return Checked();" action="/login" method="post" name="myform">
					<!-- 用户名 -->
				  	<div class="form-group">
				  		<div class="input-group">
				  				<div class="input-group-addon">
				  					<span class="glyphicon glyphicon-user"></span>
				  				</div>
				    				<!-- <label for="UserName">用户名</label> -->
				    				<input type="text" class="form-control" id="UserName" placeholder="请输入您的用户名" name="UserName" maxlength="20" required oninvalid="setCustomValidity('请填写用户名!')" oninput="setCustomValidity('')">
				    	</div>
				  	</div>
					<!-- 密码 -->
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon">	
								<span class="glyphicon glyphicon-lock"></span>
							</div>
							<input type="password" class="form-control" id="password" placeholder="请输入您的密码" name="Password" maxlength="20" required oninvalid="setCustomValidity('请填写密码!')" oninput="setCustomValidity('')">
							
						</div>
					    <!-- <label for="password">密码</label> -->
					</div>

					<div class="form-group">
						<button type="submit" class="btn btn-info btn-my-login">登录</button>
						<button type="reset" class="btn btn-info btn-my-res">重置</button>
					</div>

					<div>
							<p th:text="${#request.getAttribute('msg')}" th:if="${not #strings.isEmpty(msg)}" style="color: #FF4500;" ></p>
					</div>

					<div class="form-group text2">
							<div id="foot-text"> 
								<span style="margin-right: 0px;">首次使用，<a th:href="register">先去注册</a> </span> &nbsp;&nbsp;
								<!--<span> <a href="">忘记密码</a> </span>-->
							</div>
					</div>
				</form>			    
			</div>
		</div>
	</div>
</div>
	<br><br>
	<p class="footer">2018 © Powered by HUST EIC.  All rights reserved.</p>

	<script type="text/javascript" th:src="@{static/js/index.js}"></script>

</body>
</html>