<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">

<head th:insert="~{fragment/header :: header}">
</head>
<body>
<!--侧边栏-->
<div th:replace="~{fragment/sidebar :: sidebar(activeUri='main.html')}">

</div>

<div class="Acontainer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-10 col-md-offset-1">
				<h3>个人财务管理系统</h3>
				<br>
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#table">收支详表</a></li>
					<li><a data-toggle="tab" href="#menu1">收入记账</a></li>
					<li><a data-toggle="tab" href="#menu2">支出记账</a></li>
				</ul>

				<!--右边的东西-->
				<div class="tab-content">

					<div id="table" class="tab-pane fade in active">
						<!--<h3>收支概览</h3>-->

							<form class="" action="/deleteRecordOfUser.action" method="post">
							<div class="table-responsive">
							<table class="table table-striped">
								<thead>
									<tr>
										<th class="col-md-1" style="text-align:left;">
											<input type="checkbox" id="chooseAll" onclick="chooseAllOrNot();">
										</th>
										<th>日期</th>
										<!--<th>编号</th>-->
										<th>金额</th>
										<th class="col-3">类型</th>
										<th>备注</th>
										<th>操作</th>
									</tr>
								</thead>

								<!-- 表格中的数据 -->
								<tbody id="tableData">
									<tr th:each="record:${pageList.getDataList()}">
										<td>
											<input type="checkbox" name="inRecords" onclick="deleteJudge();" class="chooseRecord" th:value="${record.getRecordnum()}">
										</td>
										<td th:text="${#dates.format( record.getRecordtime().getTime(), 'yyyy-MM-dd') }">4</td>
										<td th:text="${record.getValue()}">3</td>
										<td th:text="${record.getCategory()}">5</td>
										<td th:text="${record.getOther()}">2</td>
										<td>
											<button th:id="${record.getRecordnum()}" type="button" class="btn btn-default btn_edit" data-toggle="modal" data-target="#modalEdit">
												<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
											</button>
											<button th:value="${record.getRecordnum()}" type="button" class="btn btn-default btn_delete" data-toggle="modal" data-target="#modalDelete">
												<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
											</button>
										</td>
										<!--<td th:text="${record.getRecordnum()}"></td>-->
										<!--<td>6</td>-->
									</tr>
								</tbody>
							</table>

							</div>

							<div id="presentIncome" class="col-md-8 col-xs-8 col-md-offset-8 col-xs-offset-2">
							</div>
							<div th:replace="~{fragment/pagePart :: pagePart}"></div>
							<div class="form-group">
								<button  disabled="disabled" class="btn btn-danger" type="submit" id="deleteBtn">删除</button>
								<!--&nbsp;&nbsp;&nbsp;&nbsp;-->
								<!--<button class="btn btn-primary" type="reset">重置</button>-->
							</div>
						</form>

					</div>

					<!--收入-->
					<div id="menu1" class="tab-pane fade" >
						<form class="" method="post" action="/addIncomeRecordOfUser.action">
                        <div class="col-md-6">
                            <br/>
                            <div class="input-group input-group-md form-group">
                                <span class="input-group-addon" id="in-value">收入金额</span>
                                <input type="number" class="form-control" name="inValue" placeholder="请在这里填入金额" aria-describedby="sizing-addon1"  step="0.01"  required>
                            </div>
                            <br/>
                            <div class="input-group date form_date col-md-12" data-date-format="yyyy-mm-dd" data-link-field="dtp_input1">
                                <span class="input-group-addon">收入时间</span>
                                <input class="form-control" size="16" type="text" name="inTime" value="" placeholder="请在这里填入时间: 2018-01-04" required>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                            </div>
                            <br/>
							<br/>
							<div class="input-group input-group-md form-group">
								<span class="input-group-addon" id="">收入类型</span>
								<!--<input type="number"  name="inType" class="form-control" aria-describedby="sizing-addon1" placeholder="在这里输入类型">-->
								<select name="inType" class="form-control">
	                                <option value=6>其他</option>
									<option value=5>学习</option>
	                                <option value=4>生活</option>
	                                <option value=3>娱乐</option>
	                                <option value=2>餐饮</option>
	                                <option value=1>网购</option>
    	                        </select>
							</div>
							<br/>
							<div class="input-group input-group-md form-group">
                                <span class="input-group-addon">内容备注</span>
                                <input type="text" class="form-control" aria-describedby="sizing-addon1" placeholder="请在这里填入内容备注（可选）" name="inOther">
                            </div>
                            <br/>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-6 col-md-3 col-md-offset-3">
                                        <button type="submit" class="btn btn-info btn-lg">添加</button>
                                    </div>
                                    <div class="col-xs-6 col-md-3 col-md-offset-1">
                                        <button type="reset" class="btn btn-info btn-lg">重置</button>
                                    </div>
                                </div>
                            </div>
                        </div>

						</form>
					</div>
					<!--支出-->
					<div id="menu2" class="tab-pane fade">
						<form class="" method="post" action="/addOutcomeRecordOfUser.action">
							<div class="col-md-6">
								<br/>
								<div class="input-group input-group-md form-group">
									<span class="input-group-addon" id="outvalue">收入金额</span>
									<input type="number" class="form-control" name="inValue" placeholder="请在这里填入金额" aria-describedby="sizing-addon1"  step="0.01"  required>
								</div>
								<br/>
								<div class="input-group date form_date col-md-12" data-date-format="yyyy-mm-dd" data-link-field="dtp_input1">
									<span class="input-group-addon">收入时间</span>
									<input class="form-control" size="16" type="text" name="inTime" value="" placeholder="请在这里填入时间: 2018-01-04" required>
									<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
									<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
								</div>
								<br/>
								<br/>
								<div class="input-group input-group-md form-group">
									<span class="input-group-addon">收入类型</span>
									<!--<input type="number"  name="inType" class="form-control" aria-describedby="sizing-addon1" placeholder="在这里输入类型">-->
									<select name="inType" class="form-control">
		                                <option value=6>其他</option>
										<option value=5>学习</option>
		                                <option value=4>生活</option>
		                                <option value=3>娱乐</option>
		                                <option value=2>餐饮</option>
		                                <option value=1>网购</option>
	    	                        </select>
								</div>
								<br/>
								<div class="input-group input-group-md form-group">
									<span class="input-group-addon">内容备注</span>
									<input type="text" class="form-control" aria-describedby="sizing-addon1" placeholder="请在这里填入内容备注（可选）" name="inOther">
								</div>
								<br/>
								<div class="form-group">
									<div class="row">
										<div class="col-xs-6 col-md-3 col-md-offset-3">
											<button type="submit" class="btn btn-info btn-lg">添加</button>
										</div>
										<div class="col-xs-6 col-md-3 col-md-offset-1">
											<button type="reset" class="btn btn-info btn-lg">重置</button>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
                    <!--end menu 2-->
				</div>
			</div>
		</div>
	</div>
</div>

<form class="row" method="post" action="/main/record">

<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">修改条目</h4>
			</div>
			<div class="modal-body">
					<div class="form-group col-xs-12 col-md-6">
						<input type="number" name="mod_value" step="0.01" placeholder="金额" id="modal_val" class="form-control"  required/>
					</div>
					<div class="form-group col-xs-12 col-md-6">
						<div class="input-group date form_date col-md-12" data-date-format="yyyy-mm-dd" data-link-field="dtp_input1">
							<input class="form-control" size="16" name="mod_time" type="text" id="modal_time" placeholder="时间" required>
							<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
							<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
						</div>
					</div>
					<div class="form-group col-xs-12 col-md-6">
						<!--<input type="number"  name="inType" class="form-control" aria-describedby="sizing-addon1" placeholder="在这里输入类型">-->
						<select class="form-control" id="modal_ca" name="mod_cal">
								<option value=6>学习</option>
		                        <option value=5>其他</option>
							    <option value=4>生活</option>
                                <option value=3>娱乐</option>
                                <option value=2>餐饮</option>
                                <option value=1>网购</option>
                        </select>
					</div>
					<div class="form-group col-xs-12 col-md-6">
						<input id="modal_other" type="text" name="mod_other" placeholder="备忘" class="form-control" />
					</div>
                    <input hidden="hidden" name="mod_id" id="mod_id">
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="submit" class="btn btn-primary">确定</button>
			</div>
		</div><!-- /.modal-content -->
	</div>
</div>


<script src="../static/js/jquery.min.js" type="text/javascript"></script>
<script src='../static/bootstrap/js/bootstrap.min.js'></script>
<script src="../static/js/main.js"></script>
<script src="../static/mainjs/choose.js" ></script>

<!--bootstrap 时钟-->
<script type="text/javascript" src="../static/mainjs/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="../static/mainjs/bootstrap-datetimepicker.fr.js"></script>
<!-- 时间插件 -->
<script type="text/javascript">
$('.form_date').datetimepicker({
	language:  'fr',
	weekStart: 1,
	todayBtn:  1,
	autoclose: 1,
	todayHighlight: 1,
	startView: 2,
	minView: 2,
	forceParse: 0
});
</script>
<script src="../static/mainjs/sidebar-menu.js"></script>
</body>
</html>