table{
    width:600px;
    text-align:center;
}
table tr th,td{
    height:30px;
    line-height:30px;
    border:1px solid #ccc;
}
#pageStyle{
    display:inline-block;
    width:32px;
    height:32px;
    border:1px solid #CCC;
    line-height:32px;
    text-align:center;
    color:#999;
    margin-top:20px;
    text-decoration:none;

}
#pageStyle:hover{
    background-color:#CCC;
}
#pageStyle .active{
    background-color:#0CF;
    color:#ffffff;
}